@*@model My_Blog.Models.ArticleModel
<div class="wrap-article">
    <h2>@Model.Post.Title</h2>
    <p class="date"><span>@Model.Post.DateCreated.Date.ToString("D") </span><span>@Model.Post.DateCreated.Date.ToString("hh:mm") </span></p>
    <div class="text-block">
        @Html.Raw(Model.Post.Body)
    </div>
</div>
<div class="wrap-soc-list">

    <ul>*@
        @*@foreach (var item in Model.Post.)
        {
            <li><a href="#"><img src="~/Content/images/fc-ico.png" alt="" /><span>@item.LikesCount</span></a></li>

        }*@
        @*<li><a href="#"><img src="~/Content/images/fc-ico.png" alt="" /><span>123</span></a></li>
        <li><a href="#"><img src="~/Content/images/fc-ico.png" alt="" /><span>123</span></a></li>
        <li><a href="#"><img src="~/Content/images/fc-ico.png" alt="" /><span>123</span></a></li>
    </ul>
</div>
<div class="wrap-comments">
    <h2>Comments</h2>
    <ul class="list-comment">
        @foreach (string item in Model.Comments)
        {
            <li>
                <div class="avatar"><img src="~/Content/images/avatar-comment.png" alt="" /></div>
                <div class="comment-text">
                    <a href="#"></a>
                    <p class="date"><span>@DateTime.Now.Date.ToString("D")</span><span>@DateTime.Now.Date.ToString("hh:mm")</span></p>
                    <p>@item</p>
                </div>
            </li>
        }
    </ul>
 
@Html.Partial("~/Views/Home/AddComment.cshtml",null, new ViewDataDictionary())
</div>*@
@using My_Blog.Models
@model ArticleModel
<div class="wrap-article">
    @if (Model.Post != null)
    {
        <h2>@Model.Post.Title</h2>
        <p class="date"><span>@Model.Post.DateCreated.Date.ToString("D")</span><span>@Model.Post.DateCreated.ToString("hh:mm")</span></p>
        <div class="text-block">
            @Html.Raw(Model.Post.Body)
        </div>
    }
</div>
<div class="wrap-comments">
    <h2>Comments</h2>
    <ul class="list-comment">
        @if (Model.Comments != null)
        {
            foreach (string item in Model.Comments)
            {
                <li>
                    <div class="avatar"><img src="~/Content/images/avatar-comment.png" alt="" /></div>
                    <div class="comment-text">
                        <a href="#"></a>
                        <p class="date"><span>@DateTime.Now.Date.ToString("D")</span><span>@DateTime.Now.ToString("hh:mm")</span></p>
                        <p>@item</p>
                    </div>
                </li>
            }
        }
    </ul>
    @Html.Partial("~/Views/Home/AddComment.cshtml")
</div>